<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="ap-local-base-url" content="{{localBaseUrl}}">
    <meta name="boardId" content="{{boardId}}">
    <title>{{title}}</title>
    <script src="{{hostScriptUrl}}" type="text/javascript"></script>
  </head>
  <body class="aui-page-hybrid">
    <section id="content" role="main">
      <div id="app-root"/>
    </section>
    <script type="text/javascript" src="/bundle.js"></script>
  </body>
</html>
